<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <form action="" class="form-register">
        <label for="nombreCompleto">Nombre y apellido</label>
        <input type="text" name="nombre" id="nombreCompleto">
        <label for="nombreDeUsuario">Nombre de usuario</label>
        <input type="text" name="nick-name" id="nombreDeUsuario">
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" name="fecha-nacimiento" id="fechaNacimiento">
        <label for="domicilo">Domicilio</label>
        <input type="text" name="domicilo" id="domicilio">
        <div class="input-radio">
            <label for="perfil-usuario">Perfil de usuario</label>
            <input type="radio" name="perfil-usuario" value="Comprador">
            <input type="radio" name="perfil-usuario" value="Vendedor">
        </div>
        <label for="interes" class="label-categorias">Categorias de interés</label>
        <div class="input-checkbox">
            <input type="checkbox" name="interes" value="Electro">
            <input type="checkbox" name="interes" value="Moda">
            <input type="checkbox" name="interes" value="Hogar">
            <input type="checkbox" name="interes" value="Juguetería">
            <input type="checkbox" name="interes" value="Vida sana">
        </div>
        <label for="foto">Foto de usuario</label>
        <input type="file" name="foto" id="foto">
        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña">
        <label for="password">Confirmar Contraseña</label>
        <input type="password" name="confirmar-contraseña" id="password">
        <button type="reset" class="button-register">Borrar</button>
        <button type="menu" class="button-register">Enviar</button>
    </form>
</body>
</html>
